@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
    font-family:100%;
}
body{
    background-image: url('https://static.dezeen.com/uploads/2019/03/bugatti-la-voiture-noire-car-design_dezeen_2364_hero-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height:100vh;
    position: relative;
}
nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0 50px 0 100px;
    flex:wrap;
    width:100%;
}
nav .logo{
    color:white;
    font-size:35px;
    font-weight:600;
    padding:0 20px;
}
nav ul{
    display:flex;
    flex-wrap: wrap;
    list-style: none;

}
nav ul li{
    margin:0 5px;
}
nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    padding:8px 15px;
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
    transition: .3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    border-color: purple;
    color:orange;
}
nav label.menu-btn{
    color:white;
    font-size: 22px;
    cursor: pointer;
    display:none;

}
nav input[type="checkbox"]{
    display:none;
}
.content{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    padding:0 30px;
    color:white;
    width:100%;
}
.content header{
    font-size:40px;
    font-size: 700;
}
/*mobile style*/
@media(max-width:720px){
    nav label.menu-btn{
        display:block;
    }
    nav ul{
        position: fixed;
        top:80px;
        left:-100%;
        height:100vh;
        background:#111;
        width:100%;
        text-align: center;
        display:block;
        transition:all .3s ease-in;
        z-index:1;

    }
    nav #click:checked ~ ul{
        left:0;
    }
    nav ul li{
        width:100%;
        margin:40px 0;
    }
    nav ul li a {
        width:100%;
        display:block;
        font-size:20px;
        margin-left:-100%;
    }
  
    nav #click:checked ~ ul li a{
margin-left:0;
    }
    .content header{
        font-size:22px;
    }
}
